<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <node name="publisher_0" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_1" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_2" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_3" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_4" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_5" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_6" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_7" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_8" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
    <node name="publisher_9" pkg="lifecycled_node" type="hello-ros-publisher">
        <param name="publish_freq" type="double" value="0.5" />
    </node>
</launch>
